* {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.4;
}

/* Tabs Navigation
--------------------------------------------- */

/* Container */
.tabs > .container {
  max-width: 600px;
  margin: 3rem auto;
  border: 1px solid;
}

/* Nav */
.tabs .nav {
  display: flex;
  background: #ccc;
  padding: 0;
  margin: 0;
  list-style: none;
}

.tabs .nav .list-item {
  padding: 10px 20px;
  flex-grow: 1;
  /* flex-basis: 0; */
  cursor: pointer;
}

.tabs .nav .list-item.active {
  color: #fff;
  background: #141414;
}

/* Panels */
.tabs .panels .list-item {
  padding: 20px;
  display: none;
}

.tabs .panels .list-item.active {
  display: block;
}
